/*Icons*/
.material-icons.md-25 { font-size: 25px; }
.material-icons.md-40 { font-size: 35px; }
@font-face {
  font-family: 'Material Icons Extended';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons{
font-family: 'Material Icons Extended';
    font-weight: normal;
    font-style: normal;
    font-size: 21px;
    letter-spacing: none;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

:root {
  --play-color: #333;
  --menu-color: #666;
  --bg-color: #555;
}

[data-theme="dark"] {
  --play-color: #000;
  --menu-color: #222;
  --bg-color: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
  --play-color: #000;
  --menu-color: #222;
  --bg-color: #111;
  }

  [data-theme="light"] {
  --play-color: #333;
  --menu-color: #666;
  --bg-color: #555;
  }
}

/*Menu*/
*{
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}

menu{
width: 100%;
margin: 0 auto;
padding-top: 10px;
background-color: var(--menu-color);
transition: all .2s ease;
top: 0px;
position: fixed;
z-index: 3;
padding-bottom: 4px;
}
menu label{
float: right;
margin-right: 5px;
padding: 2px;
font-size: 35px;
cursor: pointer;
color: #fff;
}
menu label, #mbl{
  display: none;
}
menu ul{
list-style-type: none;
}
menu ul li{
float:right;
width: 16%;
text-align: center;
}
menu ul::after{
content: "";
display: table;
clear: both;
}

menu a{
text-decoration: none;
color: white;
cursor: pointer;
display: inline-flex;
font-size: 20px;
}

menu a:hover{
color: lightskyblue
}
menu > ul li:hover .sous{
display: block;
}
menu > ul > h2{
color: aquamarine;
} 

.select{
  background: linear-gradient(to right, #00fff2 30%, #ffa600 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 790;
}

/*Slider theme*/
nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  z-index: 4;
}

.theme-switch-wrapper {
display: flex;
align-items: center;
position: fixed; top: -18px; right: 72%;
}
.theme-switch {
display: inline-block;
height: 34px;
width: 60px;
position: relative;
}

.slider {
background-color:lightblue;
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
border-radius: 35px;
cursor: pointer;
transition: 0.4s;
}
.slider::before {
content: "";
position: absolute;
bottom: 3px;
left: 3px;
background-color: #fff;
width: 27px;
height: 27px;
transition: 0.4s;
border-radius: 50%;
}
.switcher{
position:absolute;
display:block;
top:70px;
right:50px;
width:45px;
height:30px;
background: #fff;
box-shadow:0 3px 6px #00000029;
border-radius:31px;
}

input:checked + .slider {
background-color: #555;
}
input:checked + .slider::before {
transform: translateX(26px);
}
label > input[type="checkbox"] {
display: none;
}

em{
color: white;
}

/*Site*/
section{
background: url('img/seattle.jpg');
width: 100%;
height: 550px;
}
.iplay{
position: fixed;
left: 0px;
bottom: 0%;
border: 0px;
transition: all .3s ease;
background-color: var(--play-color);
}
button:disabled{
display: none;
}

html{
background-color: var(--bg-color);
transition: all .2s ease;
}
a{
text-decoration: none;
color: #fff;
}
#mgbtn{
border: 1px solid transparent;
background-color: transparent;
color: #fff;
height: 40px;
width: 40px;
position: fixed;
bottom: 5%;
right: 20px;
z-index: 1;
}

#mgbtn:hover{
background-color: rgba(0, 0, 0, .1);
color: aquamarine;
border-radius: 50px;
}
.rotade{
  transform: rotate(180deg);
  transition-duration: .3s;
  top: 10%;
}

/*Popup*/
#save, #add, #about{ display: none;}
.info{
  text-align: center;
  border: 1px solid transparent;
  border-radius: 10px;
  display: block;
  background-color: var(--bg-color);
  height: 94%;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
}
.popc{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  z-index: 2;
  }

/*Bouton*/
p{
  padding: 7px 5px 5px;
  color: #fff;
}
h3{
  color: aquamarine;
  padding: 7px 5px 5px;
}

i{
  padding-right: 10px;
  font: inherit;
          }
  
    .hidden-accessible {
      width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
    }
    .source{
      display: inline-block;
      width: 272px;
      height: 62px;
      background-color: pink;
      border-radius: 5px;
      cursor: pointer;
      vertical-align: top;
      margin: 5px;
      overflow: hidden;
      word-break: break-word;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      box-shadow: 0 8px 24px 0 rgba(251, 134, 255, 0.3);
    }
    .source:hover{
      background-color: plum;
    }
    .add {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 25px;
    }
    .adt{
      color: aquamarine;
    }
    .popt{
      margin-top: 10px;
      color: rgb(161, 255, 255);
      width: 100%;
      margin-bottom: 10px;
    }

/*Page*/
h5{
font-size: 42px;
margin: 5px;
color: #fff;
}
h6{
font-size: 17px;
margin: -2px;
padding-top: 7px;
}
.addp{
background: #666;
width: 200px;
height: 200px;
color: #fff;
margin: 3px;
border: 2px solid transparent;
}
.addp:hover{
border: 2px solid #aaa;
}

.elemw > a > img{
height: 70px;
width: 70px;
border-radius: 5px;
float:left;
cursor: pointer;
}
.elemw{
display: block;
width: 33%;
position: absolute;
}
.new{
width: 100%;
height: 300px;
}
.track{
color: #fff;
}
.author{
color:#aaa;
}

.n2{
left: 33%;
}
.n3{
left: 66%;
}
.n4{
top: 210px;
}
.n5{
left: 33%;
top: 210px;
}
.n6{
left: 66%;
top: 210px;
}

.playlist{
height: 650px;
}
.vp{
width: 200px;
height: 200px;
font-size: 35px;
border-radius: 10px;
border: 2px solid var(--menu-color);
color: #fff;
margin: 3px;
}
.vp:hover{
border: 2px solid #aaa;
}
  
.ps{
height: 110px;
width: 300px;
font-size: 35px;
border-radius: 10px;
border: 2px solid var(--menu-color);
color: #fff;
margin: 3px;
}

.ps:hover{
border: 2px solid #ccc;
}

.p1{
background: linear-gradient(115deg,rgb(255, 0, 0) 0%,#ffd000 100%);
}
.p2{
background: linear-gradient(115deg,rgb(166, 255, 0) 0%,#00ffea 100%);
}
.p3{
background: linear-gradient(115deg,rgb(0, 238, 255) 0%,#a200ff 100%);
}
.elemr > a > img , button{
height: 200px;
width: 200px;
border-radius: 10px;
cursor: pointer;
border: 2px solid transparent;
}
.elemr{
display: block;
position: absolute;
}

.radio{
margin: 5px;
color: #fff;
padding-bottom: 10px;
}
.r2{
left: 19%;
}
.r3{
left: 38%;
}
.r4{
left: 57%;
}
.r5{
left: 76%;
}
.r6{
top: 1400px;
padding-bottom: 10px;
}
.elemr > a > button{
background: #666;
color: #fff;
font-size: 35px;
}
.elemr > a > button:hover{
border: 2px solid #aaa;
}
.playbtn{
position: absolute;
display: none;
}
.elemr:hover .playbtn{
display: block;
}
.elemw:hover .playbtn{
display: block;
}
.elemr:hover, .elemw:hover{
opacity: 90%;
}

/*Espacement*/
.spacep{
padding-top: 110px;
}
.spacen{
padding-top: 30px;
}
#spacei{
background: #444;
display: none;
position: absolute;
top: 1675px;
}
/*Scrollbar*/
/*Firefox*/
* {
scrollbar-width: thin;
scrollbar-color: #eee #666;
}

/*Chrome, Edge, Safari*/
*::-webkit-scrollbar{
width: 10px;
height: 10px;
}
*::-webkit-scrollbar-track {
background: #444;
}
*::-webkit-scrollbar-thumb {
background: #eee;
border-radius: 30px;
}
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(115deg,#ffa600 20%, #f003d0 100%);
}